.multiple-items-page{

    .col-sm-9 {
        padding:0;
    }

    .blog-post {       
        padding: 0px;
        border: solid 2px #f4f4f4;
        padding: 10px;
        margin-bottom: 20px;    
        background-color: white;

        .read-more-placeholder:hover {
            cursor: pointer;

            .card-information .title {
                text-decoration: underline;
            }

            .lees-meer{
                opacity: 1;
            }
        }

        .card-thumbnail img {
            width:100%;
            height: auto;
        }

        .card-information{
            padding:5px 5px 0 5px;
            font-size:15px;
            
            .title {
                margin-top: 3px;
                font-size: 23px;
                text-align: center;
            }

            .date {    
                font-size: 16px;
                text-align: center;
            }

            hr{
                border-top: solid 2px #f4f4f4;
            }
            
            .text > * {
                text-align:justify !important;
            }
            .text img, .text .separator{
                display:none;
            }
        }

        .lees-meer {
            opacity: 0.8;
            margin-top:10px;
            margin-bottom: -10px;
            text-align: center;
            
            img{
                height:50px;
            }
        }

        .social-media{
            margin-top: -10px;
        }
    }
}