.single-item-page {
		
	.col-sm-9{
		border: solid 2px #f4f4f4;
		margin-bottom: 10px;
		background: white;
	}

	p{
		text-align: justify !important;
	}

	.blog-post img {
		max-width: 100%;
		height: auto;
		margin: 6px 0;
	}
}