.multiple-items-page{

    .col-sm-9 {
        padding:0;
    }

    .blog-post {       
        padding: 0px;
        border: solid 2px #f4f4f4;
        padding: 10px;
        margin-bottom: 20px;    
        cursor: pointer;
        background-color: white;
        transition: transform 0.2s ease-in-out;

        &:hover{
            transform: scale(1.01);

            .card-information .title {
                text-decoration: underline;
            }
        }

        .card-thumbnail img {
            width:100%;
            height: auto;
        }

        .card-information{
            padding:5px;
            font-size:15px;
            
            .title {
                margin-top: 3px;
                font-size: 23px;
                text-align: center;
            }

            .date {    
                font-size: 16px;
                text-align: center;
            }

            hr{
                border-top: solid 2px #f4f4f4;
            }
            
            .text > * {
                text-align:left !important;
            }
            .text img, .text .separator{
                display:none;
            }
        }
    }
}