body.fixed-menu {
	padding-top: 70px;

	.navbar.navbar-default{
		position: fixed;
		top: 0;
		left:0;
		right:0;	
		z-index: 99999;
	}	
}

header {
	background: #FFF9FA;
	padding:20px;

	img {
		padding: 0 60px;
	}
}

.navbar.navbar-default{
	background: #ffe7eb;
	background-image: none;
	border: none;
	letter-spacing: 1px;
	box-shadow: none;
	font-weight: bold;
	text-align: center;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	
	.nav.navbar-nav {					 
		float: none !important;
		vertical-align: top;
		margin: 5px 0;

		a {
			padding: 10px 25px;
		}	

		.active a{
			background: #fdd4db;
			box-shadow: none;
			
			&:hover{
				background: #fdd4db;
				font-weight: bold;
			}
		}
	}
}		


		